#headers{
    color:green;
}

#general{
    background-color: rgb(126, 61, 61);
}
.words{
    color: white;
    font-family: 'Antonio', sans-serif;
}

.card {
    box-shadow: 2px 4px 0 rgba(0,0,0,0.2);
    width: 15%;
    background-color: white;
  }
  
#container {
      padding: 1px 8px;
  }

#img{
    width: 100%;
  }