*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#container{
    margin: auto;
    
}

  #container div{
    background-color: grey;
    width: 20%;
    height: fit-content;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    
    
    
}
h1,p{
    color: white;
}