.container{
    background-color: rgb(136, 136, 113);
    width: 600px;
    height: 400px;
    flex-direction: column;
    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: space-around;
    
    
}

.box{
    width: 100px;
    height: 100px;
}
#box1{
    background-color: green;
}

#box2{
    background-color:blue;
}

#box3{
    background-color: red;
}